footer
  .center
    .links
      .links-block
        .links-block-title Docs
        ul
          li
            a(href="/docs/") UI Core
          li
            a(href="/react/") Zalo UI React
          li
            a(href="/icons/") Zalo UI Icons
          li
            a(href="/cli/") Zalo Mini Program CLI

    .copy
      .copy-left
        p Code licensed under <a href="https://github.com/framework7io/framework7/blob/master/LICENSE" target="_blank">MIT</a>
        p #{new Date().getFullYear()} © Zalo UI Core is brought to you by <a href="https://framework7.io/" target="_blank">Framework7</a>.
      .clearfix
