header.internal-header
  .center
    .logo-holder
      a(href="/").logo
    .header-content
      .title
        p.branchName Zalo Mini Program
        .version v#{release.version}
      ul.nav
        li
          a(href="/introduction/") Introduction
          ul
            li
              a(href="/introduction/") Active Mini Program
        li
          a(href="/dev/") Development
          ul
            li
              a(href="/dev/guide") Guide
            li
              a(href="/dev/framework") Framework
            li
              a(href="/dev/components") Components
            li
              a(href="/dev/api") API
            li
              a(href="/dev/update-history/") Update History

include _internal-header-adline
