extends ./_docs-template

block vars
  - var title = 'Zalo Mini Program Documentation';

block content
  .docs-nav
    include ./_docs-menu
  .docs-content
    h1 UI Core Documentation
    p Start creating awesome Program.
    p Before you start we highly recommend you to read the <a href="/docs/installation.html">Installation</a> guide on how to download/install UI Core and look at its basic layout.
    p If you know HTML, CSS and a bit of JavaScript - you almost know how to create apps with this framework.
    p So, let's start from basic <a href="/docs/app-layout.html">App HTML Layout</a>
