extends ../_introduction-template

block vars
  - var title = 'Introduction';

block content
  .docs-nav
    include ../_introduction-menu
  .docs-content
    h1 Giới Thiệu
    p Kết nối hàng triệu người dùng với dịch vụ của bạn bằng những ứng dụng nhỏ tuyệt vời trên Zalo.
