header.internal-header
  .center
    .logo-holder
      a(href="/").logo
    .header-content
      .title
        p.branchName Zalo Mini Program
      ul.nav
        li
          a(href="/introduction/") Giới Thiệu
          ul
            li
              a(href="/introduction/registering-mini-program.html") Đăng Ký Mini Program
            li
              a(href="/introduction/cli.html") Zalo Mini Program Command-Line Interface (CLI)
            li
              a(href="/introduction/first-mini-program.html") Ứng dụng đầu tiên

        li
          a(href="/docs/init-app.html") Tài Liệu Phát Triển
          ul
            li
              a(href="/framework") Framework
            li
              a(href="/docs/init-app.html") Components
            li
              a(href="/sdk/installation.html") API
            li
              a(href="/update-history/") Update History

include _internal-header-adline
