.docs-nav-toggle
  span
  span
  span
.docs-nav-searchbar
  input(type="search", placeholder="Search", disabled)
  span.disable-search
.docs-nav-menu
  ul
    li
      .title Get Started
      ul
        li
          a(href="registering-mini-program.html") Đăng Ký Mini Program
        li
          a(href="cli.html") Zalo Mini Program Command-Line Interface (CLI)
        li
          a(href="first-mini-program.html") Ứng dụng đầu tiên
