.docs-nav-toggle
  span
  span
  span
.docs-nav-searchbar
  input(type="search", placeholder="Search", disabled)
  span.disable-search
.docs-nav-menu
  ul
    li
      .title Get Started
      ul
        li
          a(href="Installation.html") Cài Đặt
    li
      .title Basics
      ul
        li
          a(href="getVersion.html") getVersion
