doctype
html
  head
    meta(charset="utf-8")
    title Zalo Mini Program
    meta(name="viewport" content="width=device-width, viewport-fit=cover")
    meta(name="theme-color", content="#000000")
    meta(property="og:title" content="Zalo Mini Program")
    meta(property="og:description" content="Build mini apps on Zalo")
    meta(property="og:site_name", content="Zalo Mini Program")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
  body
    header.home-header
      .center
        .content
          .header-content
            .logo-holder
              a(href="/").logo
            .title
              p.branchName Zalo Mini Program
          .slogan Xây dựng ứng dụng trên Zalo
          .buttons-links
            .buttons
              a(href="/introduction/")
                i.f7-icons rocket_fill
                span Bắt Đầu
        .right-content
          img(src="/i/home-ui/superApp-removebg.png")
