extends ../_api_template

block vars
  - var title = 'getVersion | Zalo Mini Program API'
  - var api = 'string getVersion()'
  - var version = '1.0.0'
  - var description = 'Lấy version hiện tại của Zalo Mini Program API'
  - var actionList = ['aaaaa']
