extends ../_docs-template

block vars
  - var title = 'ZaUI Custom Build | Zalo Mini Program Components';

block content

  .docs-nav
    include ../_docs-menu
  .docs-content

    h1 ZaUI Custom Build
    ul.docs-index
    h2 Custom Build
    p ZaUI comes with Gulp builder that allows to build custom library version where you may include only required components/modules. We need the following:
    ol
      li
        p Download and unzip <a href="https://github.com/zmpio/zmp" target="_blank">ZaUI GitHub repository</a> to local folder
      li
        p Install <a href="http://nodejs.org/" target="_blank">Node.js</a> (if not installed)
      li
        p Install Gulp (if not installed) by executing the following command in terminal:
        :code
          $ npm install --global gulp
      li
        p Now, we need to install required dependencies. Go to the folder with downloaded and unzipped ZaUI repository and execute in terminal:
        :code
          $ npm install
      li Copy `scripts/build-config.js` file to some place in the downloaded folder and rename it let's say to `scripts/my-config.js`
      li Open this file and remove components that you don't need or modify color theme and included colors:
        :code(lang="js")
              /* my-config.js */
              const config = {
                rtl: false, // change to true to generate RTL styles

                // remove any components you don't need
                components: [
                  // Appbar
                  'appbar',

                  // Modals
                  'dialog',
                  'popup',
                  'login-screen',
                  'popover',
                  'actions',
                  'sheet',
                  'toast',

                  // Loaders
                  'preloader',
                  'progressbar',

                  // List Components
                  'sortable',
                  'swipeout',
                  'accordion',
                  'contacts-list',
                  'virtual-list',
                  'list-index',

                  // Timeline
                  'timeline',

                  // Tabs
                  'tabs',

                  // Panel
                  'panel',

                  // Card
                  'card',

                  // Chip
                  'chip',

                  // Form Components
                  'form',
                  'input',
                  'checkbox',
                  'radio',
                  'toggle',
                  'range',
                  'stepper',
                  'smart-select',

                  // Grid
                  'grid',

                  // Pickers
                  'calendar',
                  'picker',

                  // Page Components
                  'infinite-scroll',
                  'pull-to-refresh',
                  'lazy',

                  // Data table
                  'data-table',

                  // FAB
                  'fab',

                  // Searchbar
                  'searchbar',

                  // Messages
                  'messages',
                  'messagebar',

                  // Swiper
                  'swiper',

                  // Photo Browser
                  'photo-browser',

                  // Notifications
                  'notification',

                  // Autocomplete
                  'autocomplete',

                  // Tooltip
                  'tooltip',

                  // Gauge
                  'gauge',

                  // Skeleton
                  'skeleton',

                  // Menu
                  'menu',

                  // Color Picker
                  'color-picker',

                  // Tree View
                  'treeview',

                  // WYSIWYG Editor
                  'text-editor',

                  // Pie Chart
                  'pie-chart',

                  // Area Chart
                  'area-chart',

                  // Elevation
                  'elevation',

                  // Typography
                  'typography',
                ],
                // include/exclude dark theme styles
                darkTheme: true,
                // include/exclude light theme styles
                lightTheme: true,
                // include/exclude themes
                themes: [
                  'ios',
                  'md',
                  'aurora',
                ],
                // modify colors
                themeColor: '#007aff',
                colors: {
                  red: '#ff3b30',
                  green: '#4cd964',
                  blue: '#2196f3',
                  pink: '#ff2d55',
                  yellow: '#ffcc00',
                  orange: '#ff9500',
                  purple: '#9c27b0',
                  deeppurple: '#673ab7',
                  lightblue: '#5ac8fa',
                  teal: '#009688',
                  lime: '#cddc39',
                  deeporange: '#ff6b22',
                  gray: '#8e8e93',
                  white: '#ffffff',
                  black: '#000000',
                },
              };

              module.exports = config;

      li
        p Now, we are ready to build custom version of ZaUI. We need to execute:
        :code
          $ npm run build-core:prod -- --config scripts/my-config.js --output path/to/output/folder
      li
        p That is all. Now you should see newly generated js and css files in specified output folder

    h2 ES Modules
    p If you use bundler like Webpack or Rollup you can use only required ZaUI JS components without that build process and by importing only required components:
    :code(lang="js")
          // Import core framework
          import ZaUI from 'zmp';

          // Import additional components
          import Searchbar from 'zmp/components/searchbar';
          import Calendar from 'zmp/components/calendar';
          import Popup from 'zmp/components/popup';

          // Install F7 Components using .use() method on ZaUI class:
          ZaUI.use([Searchbar, Calendar, Popup]);

          // Init app
          var app = new ZMP({/*...*/});
    p The following components are available for importing (all other components are part of the core):
    table
      thead
        tr
          th Component
          th Path
          th
      tbody
        tr
          td Appbar
          td `zmp/components/appbar`
        tr
          td Dialog
          td `zmp/components/dialog`
        tr
          td Popup
          td `zmp/components/popup`
        tr
          td LoginScreen
          td `zmp/components/login-screen`
        tr
          td Popover
          td `zmp/components/popover`
        tr
          td Actions
          td `zmp/components/actions`
        tr
          td Sheet
          td `zmp/components/sheet`
        tr
          td Toast
          td `zmp/components/toast`
        tr
          td Preloader
          td `zmp/components/preloader`
        tr
          td Progressbar
          td `zmp/components/progressbar`
        tr
          td Sortable
          td `zmp/components/sortable`
        tr
          td Swipeout
          td `zmp/components/swipeout`
        tr
          td Accordion
          td `zmp/components/accordion`
        tr
          td ContactsList
          td `zmp/components/contacts-list`
        tr
          td VirtualList
          td `zmp/components/virtual-list`
        tr
          td ListIndex
          td `zmp/components/list-index`
        tr
          td Timeline
          td `zmp/components/timeline`
        tr
          td Tabs
          td `zmp/components/tabs`
        tr
          td Panel
          td `zmp/components/panel`
        tr
          td Card
          td `zmp/components/card`
        tr
          td Chip
          td `zmp/components/chip`
        tr
          td Form
          td `zmp/components/form`
        tr
          td Input
          td `zmp/components/input`
        tr
          td Checkbox
          td `zmp/components/checkbox`
        tr
          td Radio
          td `zmp/components/radio`
        tr
          td Toggle
          td `zmp/components/toggle`
        tr
          td Range
          td `zmp/components/range`
        tr
          td Stepper
          td `zmp/components/stepper`
        tr
          td SmartSelect
          td `zmp/components/smart-select`
        tr
          td Grid
          td `zmp/components/grid`
        tr
          td Calendar
          td `zmp/components/calendar`
        tr
          td Picker
          td `zmp/components/picker`
        tr
          td InfiniteScroll
          td `zmp/components/infinite-scroll`
        tr
          td PullToRefresh
          td `zmp/components/pull-to-refresh`
        tr
          td Lazy
          td `zmp/components/lazy`
        tr
          td DataTable
          td `zmp/components/data-table`
        tr
          td Fab
          td `zmp/components/fab`
        tr
          td Searchbar
          td `zmp/components/searchbar`
        tr
          td Messages
          td `zmp/components/messages`
        tr
          td Messagebar
          td `zmp/components/messagebar`
        tr
          td Swiper
          td `zmp/components/swiper`
        tr
          td PhotoBrowser
          td `zmp/components/photo-browser`
        tr
          td Notification
          td `zmp/components/notification`
        tr
          td Autocomplete
          td `zmp/components/autocomplete`
        tr
          td Tooltip
          td `zmp/components/tooltip`
        tr
          td Gauge
          td `zmp/components/gauge`
        tr
          td Skeleton
          td `zmp/components/skeleton`
        tr
          td Menu
          td `zmp/components/menu`
        tr
          td ColorPicker
          td `zmp/components/color-picker`
        tr
          td Treeview
          td `zmp/components/treeview`
        tr
          td Text Editor
          td `zmp/components/text-editor`
        tr
          td Pie Chart
          td `zmp/components/pie-chart`
        tr
          td Area Chart
          td `zmp/components/area-chart`
        tr
          td Typography
          td `zmp/components/typography`
    h2 Less.js
    p ZaUI styles are built with <a href="http://lesscss.org/" target="_blank">Less.js</a>. If you use Less and NPM in your app/project then you can easily create custom ZaUI stylesheet with only components you need.
    p Create your own `zmp.less` file:
    :code(lang="less")
      // core
      @import url('path/to/node_modules/zmp/zmp.less');

      // import only components you need
      @import url('path/to/node_modules/zmp/components/searchbar/searchbar.less');
      @import url('path/to/node_modules/zmp/components/calendar/calendar.less');
      @import url('path/to/node_modules/zmp/components/popup/popup.less');
    p We can go even further and specify ZaUI's main color theme and required colors in custom `zmp.less` file:
    :code(lang="less")
      // core
      @import url('path/to/node_modules/zmp/zmp.less');

      // import only components you need
      @import url('path/to/node_modules/zmp/components/searchbar/searchbar.less');
      @import url('path/to/node_modules/zmp/components/calendar/calendar.less');
      @import url('path/to/node_modules/zmp/components/popup/popup.less');

      // include/exclude themes
      @includeIosTheme: true;
      @includeMdTheme: true;
      @includeAuroraTheme: true;

      // include/exclude dark theme
      @includeDarkTheme: true;
      // include/exclude light theme
      @includeLightTheme: true;

      // Theme color
      @themeColor: #007aff;

      // Extra colors
      @colors: {
        red: #ff3b30;
        green: #4cd964;
        blue: #2196f3;
        pink: #ff2d55;
        yellow: #ffcc00;
        orange: #ff9500;
        purple: #9c27b0;
        deeppurple: #673ab7;
        lightblue: #5ac8fa;
        teal: #009688;
        lime: #cddc39;
        deeporange: #ff6b22;
        gray: #8e8e93;
        white: #ffffff;
        black: #000000;
      };

      // change to true to generate RTL styles
      @rtl: false;


