extends ../_docs-template

block vars
  - var title = 'Zalo Mini Program Components';

block content
  .docs-nav
    include ../_docs-menu
  .docs-content
    .center
      .phone
        .iframe-wrapper
          iframe(src="https://h5.zdn.vn/zapps/3368637342326468407/", frameborder="0", scrolling="no")
