extends ../_docs-template

block vars
  - var title = 'Introduction to ZaUI | Zalo Mini Program Components';

block content
  .docs-nav
    include ../_docs-menu
  .docs-content

    h1 Introduction
    p ZaUI - is a free and open source mobile HTML framework to develop hybrid mobile apps or web apps with iOS & Android native look and feel. It is also an indispensable prototyping apps tool to show working app prototype as soon as possible in case you need to.

    p The main approach of the ZaUI is to give you an opportunity to create iOS & Android apps with HTML, CSS and JavaScript easily and clear. ZaUI is full of freedom. It doesn't limit your imagination or offer ways of any solutions somehow. ZaUI gives you freedom!

    p ZaUI is not compatible with all platforms. It is focused only on iOS and Google Material design to bring the best experience and simplicity.

    p It is highly recommended to be familiar with basics of HTML, CSS and JavaScript to start creating apps with ZaUI.

    p Current documentation currently doesn't cover process of compilation of Zalo Mini Program to Cordova app. It is about ZaUI and how to use all of its components. To learn more about how to compile Zalo Mini Program to hybrid Cordova app that can be released at iOS and Google Play store refer to <a href="http://cordova.apache.org/docs/en/latest/" target="_blank">Official Cordova Documentation</a>

    p ZaUI <a href="kitchen-sink.html">Kitchen Sink</a> is also a great place to get started, it has a lot examples for all ZaUI components and covers most of aspects.

    p Ok, so first of all we need to learn <a href="installation.html">how to install ZaUI</a>

