extends ../_docs-template

block vars
  - var title = 'Lazy Modules | Zalo Mini Program Components';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content

    h1 Lazy Modules
    ul.docs-index
    .important-note
      p
        b Lazy Modules available from ZaUI version 3.4.0.
    p Lazy modules provide a way to make your web app startup time much faster, by loading initially only functionality required for home page/view, and load additional modules/components when navigating to pages that use them. This will make your initial app scripts and styles a way more smaller size, which is significant when you build a web app or PWA.

    p There are two type of modules available with ZaUI. ES-modules and "browser modules". To use ES-modules you need to use bundler with `import/export` support like Webpack or Rollup. Browser modules are designed only to be used when you don't use any bundler.

    h2 Modules API
    p To load ZaUI modules <b>after</b> it was initialized we need to use following app methods:
    .method-wrap
      p
        span.method app.loadModule(<span>module</span>)</span> - load module
      ul.method-parameters
        li
          span.parameter module
          |  - one of the following:
          br
          |  - <span class="parameter-type">object</span> with <a href="plugins-api.html">ZaUI Plugin</a>
          br
          |  - <span class="parameter-type">function</span> that returns <a href="plugins-api.html">ZaUI Plugin</a>
          br
          |  - <span class="parameter-type">string</span> with module name to load (e.g. `'searchbar'`)
          br
          |  - <span class="parameter-type">string</span> with module path to load (e.g. `'path/to/components/searchbar.js'`)
      p.method-returns Method returns Promise
    .method-wrap
      p
        span.method app.loadModules(<span>modules</span>)</span> - load modules
      ul.method-parameters
        li
          span.parameter modules
          |  - array with modules, where each array item one of the described above
      p.method-returns Method returns Promise

    h2 ES Modules
    p This method will only work if you use bundler like Webpack or Rollup.
    p First of all, we need to realize what modules our app requires to display initial page and import them:
    :code(lang="js")
      // import core framework with core components only:
      import ZaUI from 'zmp';

      // import zmp modules/components we need on initial page
      import Searchbar from 'zmp/components/searchbar';
      import Accordion from 'zmp/components/accordion';

      // install core modules
      ZaUI.use([Searchbar, Accordion]);

      // init app
      var app = new ZMP({
        // f7 params
      });
    p Later when we need to install additional F7 module we can use dynamic imports:
    :code(lang="js")
      import('zmp/components/gauge')
        .then(module => app.loadModule(module.default))
        .then(() => {
          // module loaded and we can use gauge api
          app.gauge.create(/* ... */)
        })
    p If we need to load few modules at a time:
    :code(lang="js")
      Promise
        .all([
          import('zmp/components/gauge'),
          import('zmp/components/calendar')
        ])
        .then((modules) => {
          // loaded module will be at ".default" prop of import result
          var modulesToLoad = modules.map(module => module.default);
          return app.loadModules(modulesToLoad);
        })
        .then(() => {
          // modules loaded and we can use their api
          app.gauge.create(/* ... */)
          app.calendar.create(/* ... */)
        })
    p It may be not very convenient to write it every time so we can make a function for that:
    :code(lang="js")
      function loadF7Modules(moduleNames) {
        var modulesToLoad = moduleNames.map((moduleName) => {
          return import(`zmp/components/${moduleName}`);
        });
        return Promise.all(modulesToLoad)
          .then((modules) => {
            return app.loadModules(modules.map(module => module.default));
          })
      }
    p And we can use it like:
    :code(lang="js")
      loadF7Modules(['gauge', 'calendar']).then(() => {
        // modules loaded and we can use their api
        app.gauge.create(/* ... */)
        app.calendar.create(/* ... */)
      });
    p If we need to preload modules for specific route then route's `async` is the best fit for it:
    :code(lang="js")
      var routes = [
        {
          path: '/',
          url: './index.html',
        },
        /* Page where we need Gauge and Calendar modules to be loaded */
        {
          path: '/gauge-calendar/',
          async: function ({ resolve }) {
            // load modules
            loadF7Modules(['gauge', 'calendar']).then(() => {
              // resolve route
              resolve({
                componentUrl: './gauge-calendar.html',
              });
            });
          }
        }
      ]
    p The following ES-module components are available for importing (all other components are part of the core):
    table
      thead
        tr
          th Component
          th Path
      tbody
        tr
          td Dialog
          td `zmp/components/dialog`
        tr
          td Popup
          td `zmp/components/popup`
        tr
          td LoginScreen
          td `zmp/components/login-screen`
        tr
          td Popover
          td `zmp/components/popover`
        tr
          td Actions
          td `zmp/components/actions`
        tr
          td Sheet
          td `zmp/components/sheet`
        tr
          td Toast
          td `zmp/components/toast`
        tr
          td Preloader
          td `zmp/components/preloader`
        tr
          td Progressbar
          td `zmp/components/progressbar`
        tr
          td Sortable
          td `zmp/components/sortable`
        tr
          td Swipeout
          td `zmp/components/swipeout`
        tr
          td Accordion
          td `zmp/components/accordion`
        tr
          td ContactsList
          td `zmp/components/contacts-list`
        tr
          td VirtualList
          td `zmp/components/virtual-list`
        tr
          td ListIndex
          td `zmp/components/list-index`
        tr
          td Timeline
          td `zmp/components/timeline`
        tr
          td Tabs
          td `zmp/components/tabs`
        tr
          td Panel
          td `zmp/components/panel`
        tr
          td Card
          td `zmp/components/card`
        tr
          td Chip
          td `zmp/components/chip`
        tr
          td Form
          td `zmp/components/form`
        tr
          td Input
          td `zmp/components/input`
        tr
          td Checkbox
          td `zmp/components/checkbox`
        tr
          td Radio
          td `zmp/components/radio`
        tr
          td Toggle
          td `zmp/components/toggle`
        tr
          td Range
          td `zmp/components/range`
        tr
          td Stepper
          td `zmp/components/stepper`
        tr
          td SmartSelect
          td `zmp/components/smart-select`
        tr
          td Grid
          td `zmp/components/grid`
        tr
          td Calendar
          td `zmp/components/calendar`
        tr
          td Picker
          td `zmp/components/picker`
        tr
          td InfiniteScroll
          td `zmp/components/infinite-scroll`
        tr
          td PullToRefresh
          td `zmp/components/pull-to-refresh`
        tr
          td Lazy
          td `zmp/components/lazy`
        tr
          td DataTable
          td `zmp/components/data-table`
        tr
          td Fab
          td `zmp/components/fab`
        tr
          td Searchbar
          td `zmp/components/searchbar`
        tr
          td Messages
          td `zmp/components/messages`
        tr
          td Messagebar
          td `zmp/components/messagebar`
        tr
          td Swiper
          td `zmp/components/swiper`
        tr
          td PhotoBrowser
          td `zmp/components/photo-browser`
        tr
          td Notification
          td `zmp/components/notification`
        tr
          td Autocomplete
          td `zmp/components/autocomplete`
        tr
          td Tooltip
          td `zmp/components/tooltip`
        tr
          td Gauge
          td `zmp/components/gauge`
        tr
          td Skeleton
          td `zmp/components/skeleton`
        tr
          td Menu
          td `zmp/components/menu`
        tr
          td Pie Chart
          td `zmp/components/pie-chart`
        tr
          td Area Chart
          td `zmp/components/area-chart`
        tr
          td Typography
          td `zmp/components/typography`
        tr
          td Text Editor
          td `zmp/components/text-editor`
    h2 Browser Modules
    p Browser modules are intended to be used in development setup without bundlers (like Webpack or Rollup).
    p First of all, in our main <a href="app-layout.html">app layout</a> we need to use so called minimal core ZaUI library instead of `zmp-bundle.js` and `zmp-bundle.css` scripts and styles that contains whole framework.
    :code(lang="html")
      <!DOCTYPE html>
      <html>
        <head>
          ...
          <!-- Path to ZaUI Core Library CSS -->
          <link rel="stylesheet" href="path/to/zmp/zmp.min.css">
          <!-- Path to your custom app styles-->
          <link rel="stylesheet" href="path/to/my-app.css">
        </head>
        <body>
          <div id="app">
            ...
          </div>
          <!-- Path to ZaUI Core Library JS-->
          <script type="text/javascript" src="path/to/zmp/zmp.min.js"></script>
          <!-- Path to your app js-->
          <script type="text/javascript" src="path/to/my-app.js"></script>
        </body>
      </html>
    p We also need to inclued modules/components that we need on initial page after `zmp` styles and script. If we need Searchbar and Accordion then we need to include them in app layout:
    :code(lang="html")
      <!DOCTYPE html>
      <html>
        <head>
          ...
          <!-- Path to ZaUI Core Library CSS -->
          <link rel="stylesheet" href="path/to/zmp/zmp.min.css">
          <!-- Include modules required for initial page -->
          <link rel="stylesheet" href="path/to/zmp/components/accordion/accordion.css">
          <link rel="stylesheet" href="path/to/zmp/components/searchbar/searchbar.css">
          <!-- Path to your custom app styles-->
          <link rel="stylesheet" href="path/to/my-app.css">
        </head>
        <body>
          <div id="app">
            ...
          </div>
          <!-- Path to ZaUI Core Library JS-->
          <script type="text/javascript" src="path/to/zmp/zmp.min.js"></script>
          <!-- Include modules required for initial page -->
          <script type="text/javascript" src="path/to/zmp/components/accordion/accordion.js"></script>
          <script type="text/javascript" src="path/to/zmp/components/searchbar/searchbar.js"></script>
          <!-- Path to your app js-->
          <script type="text/javascript" src="path/to/my-app.js"></script>
        </body>
      </html>
    p Now when we init Zalo Mini Program we need to specify where is the rest of modules in `lazyModulesPath` parameter (path to `/components/` folder):
    :code(lang="js")
      var app = new ZMP({
        // ...
        lazyModulesPath: 'path/to/zmp/components',
      });
    p Now we can just load module by its name (it will automatically fetch file with such file name in specified `lazyModulesPath` location):
    :code(lang="js")
      app.loadModules(['calendar', 'gauge']).then(() => {
        // modules loaded and we can use their api
        app.gauge.create(/* ... */)
        app.calendar.create(/* ... */)
      });
    .important-note
      p Note, that browser modules also load modules styles automatically. So loading `gauge.js` will also automatically load `gauge.css` stylesheet.
    p So the above expression `app.loadModules(['calendar', 'gauge'])` will load the following files:
    ul
      li path/to/zmp/components/calendar/calendar.js
      li path/to/zmp/components/calendar/calendar.css
      li path/to/zmp/components/gauge/gauge.js
      li path/to/zmp/components/gauge/gauge.css
    p When we need to preload modules for specific route and we use browser modules, then we can just use route's `modules` property:
    :code(lang="js")
      var routes = [
        {
          path: '/',
          url: './index.html',
        },
        /* Page where we need Gauge and Calendar modules to be loaded */
        {
          path: '/gauge-calendar/',
          modules: ['gauge', 'calendar'], // will load these components before loading route
          componentUrl: './gauge-calendar.html',
        }
      ]
    p Or the same but using `async` route like in example with ES modules:
    :code(lang="js")
      var routes = [
        {
          path: '/',
          url: './index.html',
        },
        /* Page where we need Gauge and Calendar modules to be loaded */
        {
          path: '/gauge-calendar/',
          modules: ['gauge', 'calendar'], // will load these components before loading route
          async: function({ resolve }) {
            app.loadModules(['gauge', 'calendar']).then(() => {
              resolve({
                componentUrl: './gauge-calendar.html',
              });
            });
          },
        }
      ]
    p The following browser modules-components are available for loading (all other components are part of the core):
    table
      thead
        tr
          th Component
          th Name
          th Path
      tbody
        tr
          td Dialog
          td `dialog`
          td `zmp/components/dialog/dialog.js`
        tr
          td Popup
          td `popup`
          td `zmp/components/popup/popup.js`
        tr
          td LoginScreen
          td `login-screen`
          td `zmp/components/login-screen/login-screen.js`
        tr
          td Popover
          td `popover`
          td `zmp/components/popover/popover.js`
        tr
          td Actions
          td `actions`
          td `zmp/components/actions/actions.js`
        tr
          td Sheet
          td `sheet`
          td `zmp/components/sheet/sheet.js`
        tr
          td Toast
          td `toast`
          td `zmp/components/toast/toast.js`
        tr
          td Preloader
          td `preloader`
          td `zmp/components/preloader/preloader.js`
        tr
          td Progressbar
          td `progressbar`
          td `zmp/components/progressbar/progressbar.js`
        tr
          td Sortable
          td `sortable`
          td `zmp/components/sortable/sortable.js`
        tr
          td Swipeout
          td `swipeout`
          td `zmp/components/swipeout/swipeout.js`
        tr
          td Accordion
          td `accordion`
          td `zmp/components/accordion/accordion.js`
        tr
          td ContactsList
          td `contacts-list`
          td `zmp/components/contacts-list/contacts-list.js`
        tr
          td VirtualList
          td `virtual-list`
          td `zmp/components/virtual-list/virtual-list.js`
        tr
          td ListIndex
          td `list-index`
          td `zmp/components/list-index/list-index.js`
        tr
          td Timeline
          td `timeline`
          td `zmp/components/timeline/timeline.js`
        tr
          td Tabs
          td `tabs`
          td `zmp/components/tabs/tabs.js`
        tr
          td Panel
          td `panel`
          td `zmp/components/panel/panel.js`
        tr
          td Card
          td `card`
          td `zmp/components/card/card.js`
        tr
          td Chip
          td `chip`
          td `zmp/components/chip/chip.js`
        tr
          td Form
          td `form`
          td `zmp/components/form/form.js`
        tr
          td Input
          td `input`
          td `zmp/components/input/input.js`
        tr
          td Checkbox
          td `checkbox`
          td `zmp/components/checkbox/checkbox.js`
        tr
          td Radio
          td `radio`
          td `zmp/components/radio/radio.js`
        tr
          td Toggle
          td `toggle`
          td `zmp/components/toggle/toggle.js`
        tr
          td Range
          td `range`
          td `zmp/components/range/range.js`
        tr
          td Stepper
          td `stepper`
          td `zmp/components/stepper/stepper.js`
        tr
          td SmartSelect
          td `smart-select`
          td `zmp/components/smart-select/smart-select.js`
        tr
          td Grid
          td `grid`
          td `zmp/components/grid/grid.js`
        tr
          td Calendar
          td `calendar`
          td `zmp/components/calendar/calendar.js`
        tr
          td Picker
          td `picker`
          td `zmp/components/picker/picker.js`
        tr
          td InfiniteScroll
          td `infinite-scroll`
          td `zmp/components/infinite-scroll/infinite-scroll.js`
        tr
          td PullToRefresh
          td `pull-to-refresh`
          td `zmp/components/pull-to-refresh/pull-to-refresh.js`
        tr
          td Lazy
          td `lazy`
          td `zmp/components/lazy/lazy.js`
        tr
          td DataTable
          td `data-table`
          td `zmp/components/data-table/data-table.js`
        tr
          td Fab
          td `fab`
          td `zmp/components/fab/fab.js`
        tr
          td Searchbar
          td `searchbar`
          td `zmp/components/searchbar/searchbar.js`
        tr
          td Messages
          td `messages`
          td `zmp/components/messages/messages.js`
        tr
          td Messagebar
          td `messagebar`
          td `zmp/components/messagebar/messagebar.js`
        tr
          td Swiper
          td `swiper`
          td `zmp/components/swiper/swiper.js`
        tr
          td PhotoBrowser
          td `photo`
          td `zmp/components/browser/photo-browser/browser/photo-browser.js`
        tr
          td Notification
          td `notification`
          td `zmp/components/notification/notification.js`
        tr
          td Autocomplete
          td `autocomplete`
          td `zmp/components/autocomplete/autocomplete.js`
        tr
          td Tooltip
          td `tooltip`
          td `zmp/components/tooltip/tooltip.js`
        tr
          td Gauge
          td `gauge`
          td `zmp/components/gauge/gauge.js`
        tr
          td Skeleton
          td `skeleton`
          td `zmp/components/skeleton/skeleton.js`
        tr
          td Menu
          td `menu`
          td `zmp/components/menu/menu.js`
        tr
          td Pie Chart
          td `pie-chart`
          td `zmp/components/pie-chart/pie-chart.js`
        tr
          td Area Chart
          td `area-chart`
          td `zmp/components/area-chart/area-chart.js`
        tr
          td Typography
          td `typography`
          td `zmp/components/typography/typography.js`
        tr
          td Text Editor
          td `text-editor`
          td `zmp/components/text-editor/text-editor.js`






