extends ../_docs-template

block vars
  - var title = 'ZaUI Package Structure | Zalo Mini Program Components';

block content
  .docs-nav
    include ../_docs-menu
  .docs-content

    h1 ZaUI Package Structure
    ul.docs-index
    h2 Package
    p ZaUI core library contains the following files and folders:
    :code(lang="html")
      zmp/
          bundle/
             package.json
          cjs/
              components/
              modules/
              shared/
              zmp-bundle.js
              zmp-lite-bundle.js
              zmp-lite.js
              zmp.js
          components/
              accordion/
                  accordion-aurora.less
                  accordion-ios.less
                  accordion-md.less
                  accordion-rtl.css
                  accordion-vars.less
                  accordion.css
                  accordion.d.ts
                  accordion.js
                  accordion.less
                  package.json
              ...
          core/
              package.json
          esm/
              components/
              modules/
              shared/
              zmp-bundle.js
              zmp-lite-bundle.js
              zmp-lite.js
              zmp.js
          less/
          lite/
              package.json
          lite-bundle/
              package.json
          modules/
          types/
          zmp-bundle-rtl.css
          zmp-bundle-rtl.min.css
          zmp-bundle.css
          zmp-bundle.js
          zmp-bundle.js
          zmp-bundle.less
          zmp-bundle.min.css
          zmp-bundle.min.js
          zmp-bundle.min.js
          zmp-rtl.css
          zmp-rtl.min.css
          zmp.css
          zmp.d.ts
          zmp.js
          zmp.js
          zmp.less
          zmp.min.css
          zmp.min.js
          zmp.min.js
    h2 Lite Version
    p ZaUI "Lite" version (files with `-lite` suffix) doesn't have ZaUI Component (Router Component) functionality, Core APIs for Gauge, Pie Chart and Area Chart components. It is designed to be used with ZaUI-Vue/React/Svelte libraries where you use Vue/React/Svelte components instead.
    p Lite version are only available for ESM and CJS packages.

    h2 Styles
    p Main ZaUI styles are located in root package folder:
    ul
      li `zmp.css` - contains minimal (core) ZaUI styles with minimal required set of components.
      li `zmp-rtl.css` - same but for RTL layout.
      li `zmp-bundle.css` - contains styles for ZaUI core version and includes styles for all components.
      li `zmp-bundle-rtl.css` - same but for RTL layout.

    h2 Scripts (UMD)
    p In root folder there are so called #[a(href="https://github.com/umdjs/umd", target="_blank") UMD] JavaScript files intended to be used directly in browser (e.g. with `<script src="...">`):
    ul
      li `zmp.js` - contains minimal (core) ZaUI version with minimal required set of components.
      li `zmp-bundle.js` - contains whole ZaUI with all its components.
    p Lite version is not available in UMD format.

    h2 Components
    p All components are located in `components/` folder and required to be used with core (not bundle) version. You can learn more about how to use them in #[a(href="lazy-modules.html") lazy modules] section.

    h2 ES Module
    .important-note
      p This feature currently can be used in bundlers like Webpack and Rollup
    p ZaUI can also be imported as an ES-next module:
    :code(lang="js")
      import ZaUI from 'zmp';
    p ZaUI has modular structure and <b>by default it exports only core ZaUI with core components</b>.
    p And if you need additional components they must be included additionally:
    :code(lang="js")
      // Import core framework
      import ZaUI from 'zmp';

      // Import additional components
      import Searchbar from 'zmp/components/searchbar/';
      import Calendar from 'zmp/components/calendar/';
      import Popup from 'zmp/components/popup/';

      // Install F7 Components using .use() method on class:
      ZaUI.use([Searchbar, Calendar, Popup]);

      // Init app
      var app = new ZMP({/*...*/});
    p Such modular structure provides best tree-shaking results and package size optimization.
    p In addition to `default` export it has named export for `Dom7`, `request`, `getDevice`, `createStore`, `utils` and `getSupport` helpers:
    :code(lang="js")
      import ZaUI, { getDevice, request } from 'zmp';

      var app = new ZMP({/*...*/});

      var device = getDevice();

      if (device.ios) {
        request.get('http://google.com');
      }
    p "Lite" module is also available:
    :code(lang="js")
      import ZaUI from 'zmp/lite';

    h2 ES Module Bundle
    p If you need to include ZaUI with all components, we can include its another script bundle with all components installed:
    :code(lang="js")
      // Import framework with all components
      import ZaUI from 'zmp/bundle';

      // Init app
      var app = new ZMP({/*...*/});
    p "Lite" bundle module is also available:
    :code(lang="js")
      import ZaUI from 'zmp/lite-bundle';
